@model IEnumerable<TaskManager.Models.TaskManagerUser>

@{
    ViewData["Title"] = "User Index";
}

<h1>User Index</h1>

<p>
    <a asp-action="Create">Create New (wip)</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badge_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Badge_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit (wip)</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details (wip)</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete (wip)</a>
            </td>
        </tr>
}
    </tbody>
</table>
